# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
#npm
../node_modules
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
/.name
/jsLibraryMappings.xml
